.custom-checkbox {
  display: inline-block;
  cursor: pointer;
  
  &-input {
    display: none;
    visibility: hidden;
  }

  &-label {
    position: relative;
    padding-left: 25px;
    display: block;
    white-space: nowrap;
    

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 16px;
      height: 16px;
      box-sizing: border-box;
      border: 1px solid $gray;
      border-radius: 2px;

      .custom-checkbox--theme-purple .custom-checkbox-input:checked ~  & {
        background-color: $purple;
        border-color: $purple;
      }

      .custom-checkbox--theme-blue .custom-checkbox-input:checked ~  & {
        background-color: $blue;
        border-color: $blue;
      }

      .custom-checkbox--theme-pink .custom-checkbox-input:checked ~  & {
        background-color: $pink;
        border-color: $pink;
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: 2px;
      left: 3px;
      width: 8px;
      height: 5px;
      border-bottom: 2px solid $white;
      border-left: 2px solid $white;
      transform: rotate(-50deg);
    }
  }
}
