.slider {
  position: relative;
  margin-bottom: 15px;

  &-img {
    position: relative;
    overflow: hidden;
    display: block;
    width: 190px;
    height: 117px;

    img {
      display: block;
      height: auto;
      width: inherit;
      height: 117px;
      border: none;
      outline: none;
      object-fit: contain;
    }
  }

  &-img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    background-color: rgba($blue, 0.3);
    cursor: pointer;

    &:hover {
      opacity: 1;
    }

    svg {
      fill: $white;
    }
  }

  &-btn {
    position: absolute;
    top: 0;
    z-index: 100;
    height: 100%;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: rgba($blue, 0.8);
    outline: none;
    // box-sizing: border-box;
    cursor: pointer;

    &:hover {
      background: rgba($blue, 0.9);
    }

    &--next {
      right: 0;
      padding-right: 12px;
    }

    &--prev {
      left: 0;
      padding-left: 12px;

      svg {
        transform: rotateZ(180deg);
      }
    }

    &--disabled {
      opacity: 0;
      visibility: hidden;
    }

    svg {
      width: 20px;
      height: 20px;
      flex-shrink: 0;
    }
  }
}
